#preguntas{
    color:rgb(82, 143, 143);
    text-shadow: 1px 1px cornflowerblue;
}

#x{

    background-color:  gainsboro;
    color: rgb(146, 174, 190);
    text-decoration:solid;

}

#botton{
    padding: 10px 20px;
    background-color:rgb(146, 174, 190);
    color:white;
    border-radius:  4px;
    text-decoration: none;
}
  

/* este color de fondo no va
div{
    background-color:  gainsboro; 
}*/

