#preguntas{
    color:rgb(82, 143, 143);
    text-shadow: 1px 1px cornflowerblue;
}

#x{
<<<<<<< Updated upstream
=======
    color: rgb(146, 174, 190);
>>>>>>> Stashed changes
    background-color:  gainsboro; 
    text-decoration:solid;
}
#ps{
    color:rgb(61, 89, 105);
}
#matr{
    color: rgb(146, 174, 190);
    background-color:  gainsboro; 
}

#botton{
    padding: 10px 20px;
    background-color:rgb(146, 174, 190);
    color:white;
    border-radius:  4px;
    text-decoration: none;
<<<<<<< Updated upstream
=======
}

#preg {
    color:rgb(82, 143, 143);   
}
#res{
    color: rgba(5, 22, 78, 0.664);
>>>>>>> Stashed changes
}