#preguntas{
    color:rgb(82, 143, 143);
    text-shadow: 1px 1px cornflowerblue;
}

#x{

    background-color:  gainsboro;
    color: rgb(146, 174, 190);
    text-decoration:solid;

}

#botton{
    padding: 10px 20px;
    background-color:rgb(146, 174, 190);
    color:white;
    border-radius:  4px;
    text-decoration: none;
}

#p{
    color: rgba(5, 22, 78, 0.664);
}

#p2{
    color: rgba(5, 22, 78, 0.664);
}

#p3{
    color: rgba(5, 22, 78, 0.664);
}

#p4{
    color: rgba(5, 22, 78, 0.664);
}

#p5{
    color: rgba(5, 22, 78, 0.664);
}

#p6{
    color: rgba(5, 22, 78, 0.664);
}

#p7{
    color: rgba(5, 22, 78, 0.664);
}
  

/* este color de fondo no va
div{
    background-color:  gainsboro; 
}*/

