#servair{
    color:rgb(82, 143, 143);
    text-shadow: 1px 1px cornflowerblue;
}

#x{
    background-color:  gainsboro; 
    text-decoration:solid;
}
#ps{
    color:rgb(61, 89, 105);
}
#matr{
    color: rgb(146, 174, 190);
    background-color:  gainsboro; 
}